      <center>
        <button type="button" style="width: 50%" class="btn btn-lg <%= check_state('hvac') == 'off' ? 'btn-danger' : 'btn-success' %> dropdown-toggle" data-toggle="dropdown">
          <%= check_state('hvac') == 'off' ? 'heater and a/c' : check_state('hvac') %> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/hvac/air-conditioner">a/c</a></li>
          <li><a href="/hvac/heater">heater</a></li>
          <% Configs['tempsensors']['locations'].each do |sensor| %>
            <li><a href="/maintain/enforce/on/<%= sensor %>">maintain temp at <%= sensor %></a></li>
          <% end %>
          <li><a href="/hvac/off">off</a></li>
        </ul>
      </center>
