<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lotomation</title>
    <script src='/js/jquery-1.10.2.min.js' type='text/javascript'></script>
    <link href='/css/bootstrap.min.css' rel='stylesheet' type='text/css' />
    <script src='/js/bootstrap.min.js' type='text/javascript'></script>
  </head>

  <body>
    <h1>lotomation</h1>
    <div>
      <%= yield %>
    </div>
  </body>


  <script type="text/javascript">
    function toggle(somediv) {
      if ( document.getElementById(somediv).style.display == 'none' ) {
        document.getElementById(somediv).style.display = 'block';
      } else {
        document.getElementById(somediv).style.display = 'none';
      }
    }
  </script>
</html>
