<% if check_value('snap') == 'on' %>
  <div class="row" id='snapshot'>
    <div class="col-lg-6">
      <img src='snapshot1.jpg' />
    </div>
    <div class="col-lg-6">
      <img src='snapshot2.jpg' />
    </div>
    <div class="col-lg-6">
      <img src='snapshot.jpg' />
    </div>
  </div>
<% else %>
  <div><h1><font color='red'>camera is disabled</font></h1></div>
<% end %>


<script type="text/javascript">
  $(document).ready(function() {
    var interval = setInterval("location.reload();", 20000);

    $("#snapshot").click(function() {
      interval = setInterval("location.reload();", 20000);
    });
  });
</script>
