<% if check_state('snap') == 'on' %>
  <div class="row" id='snapshot'>
    <div class="col-lg-6">
      <img src='snapshot.jpg' />
    </div>
    <div class="col-lg-6">
      <img src='snapshot1.jpg' />
    </div>
  </div>
<% else %>
  <div><h1><font color='red'>camera is disabled</font></h1></div>
<% end %>


<script type="text/javascript">
  $(document).ready(function() {
    var interval = setInterval("updatesnapshot()", 10000);

    $("#snapshot").click(function() {
      clearInterval(interval);
      updatesnapshot();
      interval = setInterval("updatesnapshot()", 10000);
    });
  });

  function updatesnapshot() {
    $('#snapshot').html('<div class="col-lg-6"><img src="snapshot.jpg" /></div><div class="col-lg-6"><img src="snapshot1.jpg" /></div>');
    console.log('update');
  };
</script>
