auth:
  ninjablocks: '' # api token for ninja
  fitbit:	  # get from api.fitbit.com
    consumer_key:
    consumer_secret:
    token:
    secret:
    user_id:
location:
  doorcouch:	  # some zone name you define
    min: 	  # lower threshold for zone, in rssi
    max: 	  # upper threshold for zone, in rssi
    devices:	  # array of ninjablock devices
  middle:
    min:
    max:
    devices:
beacon:
  fitbit: ''	  # mac addresses of bluetooth le devices
status:
  dir:		  # just writes files for now, must be writeable
  verbose:	  # set to true for noisy mode
