auth:
  ninjablocks: '' # api token for ninja
  fitbit:	  # get from api.fitbit.com
    consumer_key:
    consumer_secret:
    token:
    secret:
    user_id:
goals:
  fitbit:	  # goals for punishment
    steps:
    very_active_miles:
  punishment:
    devices:
location:
  doorcouch:	  # some zone name you define
    min: 	  # lower threshold for zone, in rssi
    max: 	  # upper threshold for zone, in rssi
    devices:	  # which devices to act on in zone
  middle:
    min:
    max:
    devices:
devices:
  fitbit: ''	  # mac addresses of bluetooth le devices
  433MHz: ''	  # radio controlled devices
status:
  dir:		  # just writes files for now, must be writeable
  verbose:	  # set to true for noisy mode
